.jumbotron {
  background-color: #d9edf7;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center; }

.badge {
  margin-left: 10px; }

.about, #credits {
  padding: 10px;
  border-radius: 6pt; }

#credits {
  background-color: #e6ffe6; }

.credit {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  width: 85px; }

.panel {
  text-align: center; }

.navbar-default {
  background-color: #5eb833;
  border-color: rgba(39, 173, 113, 0.55); }
  .navbar-default .navbar-brand {
    color: #172a12; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #d2eedd; }
  .navbar-default .navbar-text {
    color: #172a12; }
  .navbar-default .navbar-nav > li > a {
    color: #172a12; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #d2eedd; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #d2eedd;
    background-color: rgba(39, 173, 113, 0.55); }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #d2eedd;
    background-color: rgba(39, 173, 113, 0.55); }
  .navbar-default .navbar-toggle {
    border-color: rgba(39, 173, 113, 0.55); }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: rgba(39, 173, 113, 0.55); }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #172a12; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #172a12; }
  .navbar-default .navbar-link {
    color: #172a12; }
    .navbar-default .navbar-link:hover {
      color: #d2eedd; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #172a12; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #d2eedd; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d2eedd;
    background-color: rgba(39, 173, 113, 0.55); } }
