/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

.navbar, .navbar-default {
  background-color: #e6ffe6;
  /*background-color: #00cc00;*/
}

.jumbotron {
  background-color: #d9edf7;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

}

.badge {
  margin-left: 10px;
}

.about, #credits {
  padding: 10px;
  border-radius: 6pt;
}

#credits {
  background-color: #e6ffe6;
}

.credit {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  width: 85px;
}

.panel {
  text-align: center;
}
